@font-face {
    font-family: 'Cocon';
    src: url(assets/CoconRegularFont.otf) format('truetype');
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    text-decoration: none;
    font-family: 'Cocon';
}

.header{
    display: flex;
    text-align: center;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    background-color: black;
    color: white;
    height: 40px;
    width: 98%;
}
.material-symbols-outlined{
    visibility: hidden;
}

.nome{
    display: flex;
    margin-left: 30px;
}

.links{
    display:flex;
}
.links h1{
    font-size: 1rem;
    margin: 10px;
}
.links h1:hover{
        border-bottom: 1;
        border-bottom-style: solid;
        border-color: rgb(221, 91, 238);
}

.botao{
    display: flex;
    margin-right: 30px;
}
.entrar{
    background-color: black;
    color: white;
    padding: 8px 18px 8px 18px;
    border-radius: 15px;
    border-color: white;
    margin-right: 5px;
}
.registrar{
    background-color: rgb(221, 91, 238);
    color: white;
    padding: 8px 18px 8px 18px;
    border-radius: 15px;
    border-color: rgb(221, 91, 238);
}

.principal{
    width: 100%;
    display: flex;
    flex-direction: row; 
}
.parte1{
    width: 50%;
    background-image: linear-gradient(#1C1C1C, #262626);
    color: white;
    padding-left: 10%;
    padding-top: 6%;
    padding-bottom: 10%;
}
.parte1 h1{
    font-size: 3rem;
    font-weight:lighter;
    letter-spacing: 2px;
}
.parte1 h2{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.parte2{
    width: 50%;
}
.parte2 img{
    width: 100%;
    height: 100%;
}
.start{
    margin-top: 10px;
    background-color: transparent;
    color: white;
    padding: 1% 8% 1% 8%;
    border-radius: 25px;
    border-color: white;
    margin-right: 5px;
    font-size: 1.6rem;
}
.start:hover{
    color: rgb(221, 91, 238);
    border-color: rgb(221, 91, 238);
}

.colecao{
    background-color: black;
    padding-top: 2%;
    padding-left: 5%;
}
.colecao .titulo1 h1{
    color: white;
    font-size: 2.8rem;
    letter-spacing: 3px;
}
.colecao .titulo1 h2{
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
}
.colecao .imagem{
    width: 100%;
    display: flex;
    flex-direction: row; 
    text-align: center;
    padding-left: 0%;
}
.i1{
    width: 30%;
}
.i1 img{
    width: 90%;
    border-radius: 25px;
}
.i2{
    width: 30%;
}
.i2 img{
    width: 90%;
    border-radius: 25px;
}
.i3{
    width: 30%;
}
.i3 img{
    width: 90%;
    border-radius: 25px;
}
.titulo{
    font-family: 'Cocon';
    font-weight: lighter;
    text-align: start;
    font-size: 2rem;
    padding-left: 5%;
    color: white;
}
.detalhe{
    font-family: 'Poppins', sans-serif;
    display: flex;
    text-align: start;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 5%;
    color: white;
    align-items: center;
}
.detalhe .pessoa{
    width: 30px;
    margin-right: 5px;
}

.publicacao{
    background-color: black;
    padding-top: 8%;
    padding-left: 5%;
}
.publicacao .titulo2 h1{
    color: white;
    font-size: 2.8rem;
    letter-spacing: 3px;
}
.publicacao .titulo2 h2{
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
}

.publicacao .imagem1{
    width: 100%;
    display: flex;
    flex-direction: row; 
    text-align: center;
    padding-left: 0%;
}
.publicacao .imagem1 .i1{
    width: 30%;
}
.publicacao .imagem1 .i1 img{
width: 60%;
}
.publicacao .imagem1 .i2{
    width: 30%;
}
.publicacao .imagem1 .i2 img{
    width: 60%;
    }
.publicacao .imagem1 .i3{
    width: 30%;
}
.publicacao .imagem1 .i3 img{
    width: 60%;
    }

.publicacao .imagem2{
    width: 100%;
    display: flex;
    flex-direction: row; 
    text-align: center;
    padding-left: 0%;
    padding-top: 5px;
}
.publicacao .imagem2 .i1{
    width: 30%;
}
.publicacao .imagem2 .i1 img{
    width: 60%;
    }
.publicacao .imagem2 .i2{
    width: 30%;
}
.publicacao .imagem2 .i2 img{
    width: 60%;
    }
.publicacao .imagem2 .i3{
    width: 30%;
}
.publicacao .imagem2 .i3 img{
    width: 60%;
    }

@media only screen and (max-width: 414px){
    .header{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        width: 98%;
    }
    .material-symbols-outlined{
        display: flex;
    }
    .nome{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }
    .links{
        display: none;
    }
    .botao{
        display: none;
    }
    .principal{
        flex-direction: column;
        width: 100%;
    }
    .parte1{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
        padding-bottom: 4%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.116), rgba(255, 255, 255, 0.116)), url(assets/foto-p´incipal.png);
        background-position: center;
        background-size: cover;
    }
    .parte1 h1{
        font-size: 1.5rem;
    }
    .parte1 h2{
        font-size: 1.5rem;
    }
    .parte2{
        display: none;
    }
    .start:hover{
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }


    .titulo{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .colecao .titulo1 h1{
        color: white;
        font-size: 1.6rem;
        letter-spacing: 3px;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .colecao .titulo1 h2{
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        padding-bottom: 4%;
        font-family: 'Poppins', sans-serif;
        font-weight:lighter;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .colecao .imagem{
        width: 100%;
        display: flex;
        flex-direction: column; 
        text-align: center;
        padding-left: 0%;
    }
    .i1{
        width: 100%;
    }
    .i2{
        width: 100%;
    }
    .i3{
        display: none;
    }
    .detalhe{
        display: none;
    }
    .i1 img{
        width: 60%;
        border-radius: 25px;
    }
    .i2 img{
        width: 60%;
        border-radius: 25px;
    }

    .publicacao .titulo2 h1{
        font-size: 2rem;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .titulo2 h2{
        font-size: 1.4rem;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem1{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem1 .i1 img{
        width: 70%;
    }
    .publicacao .imagem1 .i2 img{
        width: 70%;
    }
    .publicacao .imagem1 .i3 img{
        width: 70%;
    }
    
    .publicacao .imagem2{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem2 .i1 img{
        width: 70%;
        }
    .publicacao .imagem2 .i2 img{
        width: 70%;
        }
    .publicacao .imagem2 .i3 img{
        width: 70%;
        }
}

@media only screen and (min-width: 415px) and (max-width: 1024px){
    .header{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        width: 98%;
    }
    .material-symbols-outlined{
        display: flex;
    }
    .nome{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 8%;
    }
    .links{
        display: none;
    }
    .botao{
        margin-left: 8%;
        margin-right: 0px;
    }
    .registrar{
        padding: 6px 14px 6px 14px;
    }
    .entrar{
        padding: 6px 14px 6px 14px;
    }
    .principal{
        flex-direction: column;
    }
    .parte1{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
        padding-bottom: 4%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.116), rgba(255, 255, 255, 0.116)), url(assets/foto-p´incipal.png);
        background-position: center;
        background-size: cover;
    }
    .parte1 h1{
        font-size: 2.2rem;
    }
    .parte1 h2{
        font-size: 2.2rem;
    }
    .parte2{
        display: none;
    }
    .start:hover{
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }

    .titulo{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        font-size: 1.5rem;
        padding-bottom: 0px;
    }
    .colecao .titulo1 h1{
        color: white;
        font-size: 2rem;
        letter-spacing: 3px;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .colecao .titulo1 h2{
        color: white;
        font-size: 1.5rem;
        font-weight: 100;
        padding-bottom: 4%;
        font-family: 'Poppins', sans-serif;
        font-weight:lighter;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .colecao .imagem{
        width: 100%;
        display: flex;
        flex-direction: column; 
        text-align: center;
        padding-left: 0%;
    }
    .i1{
        width: 100%;
    }
    .i1 .detalhe{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        padding-bottom: 2%;
    }
    .i2{
        width: 100%;
    }
    .i2 .detalhe{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
        padding-bottom: 2%;
    }
    .i3{
       display: none;
    }
    .i1 img{
        width: 60%;
        border-radius: 25px;
    }
    .i2 img{
        width: 60%;
        border-radius: 25px;
    }

    .publicacao .titulo2 h1{
        font-size: 2.4rem;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .titulo2 h2{
        font-size: 1.8rem;
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem1{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem1 .i1 img{
        width: 70%;
    }
    .publicacao .imagem1 .i2 img{
        width: 70%;
    }
    .publicacao .imagem1 .i3 img{
        width: 70%;
    }
    
    .publicacao .imagem2{
        display: flex;
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    .publicacao .imagem2 .i1 img{
        width: 70%;
        }
    .publicacao .imagem2 .i2 img{
        width: 70%;
        }
    .publicacao .imagem2 .i3 img{
        width: 70%;
        }
}